<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/videos.css">
    <script src="https://kit.fontawesome.com/6a29cc77d5.js" crossorigin="anonymous"></script>
    <title>PK How - Videos</title>
</head>

<body>
    <div class="base-container">
         <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <a href="#" class="button">Strona Główna</a>
                </li>
                <li>
                    <a href="#" class="button">Aktualności</a>
                </li>
                <li>
                    <a href="#" class="button">Wideo</a>
                </li>
                <li>
                    <a href="#" class="button">FAQ</a>
                </li>
                <li>
                    <a href="#" class="button">Ustawienia</a>
                </li>
            </ul>
         </nav>
         <main>
             <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="Wyszukaj">
                    </form>
                </div>
                <div class="filters">
                Filtr
                </div>
                <div class = profile>
                    Zaloguj się
                    <img src="..\img\not-logged-in.png">
                </div>
             </header>
             <section class="projects">
                 <div id=project-1>
                    <img src="..\img\uploads\Delta.png">
                    <div>
                        <h2>Platforma DELTA</h2>
                        <p>Krótki film wprowadzający do pracy na platformie edukacyjnej DELTA</p>
                    </div>
                 </div>
                 <div id=project-2>
                    <img src="..\img\uploads\Eduroam.png">
                    <div>
                        <h2>Eduroam PK</h2>
                        <p>W tym filmie wyjaśniamy proces uzyskiwania certyfikatu i konfiguracji sieci Eduroam</p>
                    </div>
                 </div>
                 <div id=project-3>
                    <img src="..\img\uploads\ELF.png">
                    <div>
                        <h2>Platforma ELF</h2>
                        <p>Krótki film wprowadzający do pracy na platformie edukacyjnej ELF</p>
                    </div>
                 </div>
                 <div id=project-4>
                    
                    <img src="..\img\uploads\Office.png">
                    <div>
                        <h2>Office 365</h2>
                        <p>W tym filmie dowiesz się, jak założyć konto Microsoft 365 dla studentów Politechniki Krakowskiej</p>
                    </div>
                 </div>
                 <div id=project-5>
                    <img src="..\img\uploads\Outlook.png">
                    <div>
                        <h2>Poczta Outlook</h2>
                        <p>Film instruujący jak w łatwy sposób podpiąć swój mail studencki pod prywatną poczte elektroniczną lub odwrotnie</p>
                    </div>
                 </div>
                 <div id=project-6>
                    <img src="..\img\uploads\Teams.png">
                    <div>
                        <h2>Microsoft Teams</h2>
                        <p>Krótki przewodnik wideo po obsłudze programu MS Teams</p>
                    </div>
                 </div>
             </section>
         </main>
    </div>
</body>