section
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 2em;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

p{
    font: normal normal normal 60px/60px Segoe UI;
    color: #444444;
    margin-left: 1em;
    margin-bottom: 0;
    height: 5%;
}

.faq>div>a>p>img
{
    height: auto;
    width: 70%;
    align-items: center;
    justify-content: center;

    border-radius: 1em 1em 0 0;
}



.faq>div
{
    background: #B1F6FFD4 0 0 no-repeat padding-box;
    border-radius: 1em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: fit-content;
}

.faq>div>a>div
{
    font: normal normal normal 20px/27px Segoe UI;
    color: #444444;
    height: 40%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.faq>div>a>div>h2
{
    color:#555555;
    margin-top: 0;
}

.faq>div>a{
    text-decoration: none;
    display: inline-block;
}