section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    grid-gap: 1em;
    padding: 2em;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.block {
    background: #B1F6FFD4 0 0 no-repeat padding-box;
    border-radius: 1em;
    height: auto;
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    flex-direction: column;
    justify-content: space-between;
    min-width: fit-content;
    font: normal normal normal 20px/27px Segoe UI;
    color: #444444;
    margin: 1em;
    align-items: center;
}

.question {
    font: normal normal normal 30px/35px Segoe UI;
    color:#555555;
    margin-top: 0;
}

h2 {
    margin-left: 1em;
    margin-bottom: 0;
    padding-top: 1em;
}