body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #C9F8FF 0%, #A4DFE7 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    text-align: left;
    font: normal normal normal 45px/56px Square721 BT;
    letter-spacing: 0px;
    color: #444444;
    
}

.logo > img{
    height: 40vh;
    margin-bottom: 0;
    margin-left: 1%;
}

.logo > div{
    margin-left: 1em;
    width: 50%;
    font-size: 30px;
}

.login-container{
    width: 50%;
}


form.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60vh;
    background: #2B2D426D 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border-radius: 74px;
}
form.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75vh;
    background: #2B2D426D 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border-radius: 74px;
}

button{
    background: #B1F6FFD4 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid #707070;
    width: 30vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    color: #707070;
    margin-top: 1em;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}
input, textarea {
    width: 30vw;
    height: 5vh;
    border: 0.5px solid var(--unnamed-color-707070);
    background: #F0F0F0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}
.login>div{
    font: normal normal normal 20px/27px Segoe UI;
    margin-bottom: 1.5em;
    font-size: 30px;
}
.Register>div{
    font: normal normal normal 20px/27px Segoe UI;
    margin-bottom: 1.5em;
    font-size: 30px;
}

@media only screen and (max-device-width: 420px){
    .container{
        flex-direction: column;
    }
    *{
        font-size:36px;
    }
    .login-container, .logo{
        width:100%
    }
    form{
        margin: auto;
    }
    img{
        height: 17em;
        margin: 2em;
    }
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
nav{
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #5F8594B5 0%, #5F8594 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

nav > img{
    width: 60%;
    margin: 0.5em auto;
    justify-content: center;

}

main{
    width: 80vw;
    height: 100%;
    background: #EBEAEA 0% 0% no-repeat padding-box;
}

a {
    text-decoration: none;
    display: inline-block;

}

.button{
    background: #B1F6FFD4 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1.5em;
    color: #444444;
    font: normal normal normal 20px/27px Segoe UI;
    padding: 1em;
    width: 90%;
    height: 2vh;
    font-size: 30px;
    text-align: center;
    text-justify: distribute-all-lines;
    justify-content: center;

}

ul{
    list-style-type: none;
    width:80%;
    height:100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

li{
    
    justify-content: center;
    margin-bottom: 1em;
    
}

li:last-child{
    position: absolute;
    bottom: 10vh;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    height:100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: #A4DFE7 0% 0% no-repeat padding-box;
    border: none;
}

.filters{
    background: #F0F0F0 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 2em;
    color: #444444;
    text-align: center;
    align-items: center;
    width: 7%;
    font: normal normal normal 20px/27px Segoe UI;

    box-sizing: border-box;
    padding: 0.7em;
    min-width: fit-content;
}
.search-bar{
    width: 60%;
    min-width: fit-content;
}

.search-bar > form > input{
    background: #F0F0F0 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 2em;
    color: #444444;
    width: 80%;
    text-align: left;
    justify-content: center;
    margin: 0;
    font: normal normal normal 20px/27px Segoe UI;
    box-shadow: 0px 2px 6px #00000029;
    box-sizing: border-box;
}

.no-valid{
    border:3px solid red;
    border-radius: 20px;
    box-shadow: 0 0 0.2em red;
    outline: none;
}


.profile{
    display:flex;
    font: normal normal normal 20px/27px Segoe UI;
    color: #444444;
    align-items: center;
    margin-left: 1em;
}

.profile > img{
    height:6vh;
    margin-left: 1em;
}


